@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:ital,wght@0,400;0,500;1,400&display=swap') *,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --black: #000;
  --green: #00ff00;
  --grey1: #f7f7f7;
  --grey2: #e9e9e9;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  background-color: var(--white);
  color: var(--black);
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.container {
  /* display: flex;  review */
  max-width: 114rem;
  margin: 0 auto;
  padding: 0 3rem;
}

.d-flex {
  display: flex;
  align-items: center;
}

/* ----- Header ----- */

.header {
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
}

.top-nav {
  background-color: var(--green);
  font-size: 1.3rem;
  color: var(--white)
}

.top-nav div {
  justify-content: space-between;
  height: 4.5 rem;
}

.top-nav a {
  padding: 0 0.5rem;
  color: var(--white);
}

.navigation {
  height: 6rem;
  line-height: 6rem;
}

.nav-center {
  justify-content: space-between;
}

/*
.nav-link {
  padding: 0 1rem;
  transition: var(--transition);
} */

.nav-center .nav-item:not(:last-child) {
  margin-right: 0.5rem;
}

.nav-center .nav-link {
  font-size: 1.8rem;
  padding: 1rem;
}

.nav-center .nav-link:hover {
  color: var(--green);
}

.icon {
  cursor: pointer;
  font-size: 2.5rem;
  color: #555;
  position: relative;
  padding: 0 0.5rem;
}

.icon:not(:last-child) {
  margin-right: 0.5rem;
}

.icon span {
  position: absolute;
  top: 3px;
  right: -3px;
  background-color: var(--green);
  color: white;
  border-radius: 50%;
  font-size: 1.3rem;
  height: 2rem;
  width: 2rem;
  justify-content: center;
}

.nav-list .icons {
  display: none;
}

.nav-center .hamburger {
  display: none;
  font-size: 2.3rem;
  color: var(--black);
  cursor: pointer;
}

@media(max-width: 768px) {
  .nav-list {
    position: fixed;
    top: 12%;
    left: 100%;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    background-color: white;
    height: 100%;
    max-width: 35rem;
    width: 0;
    z-index: 100;
    transition: all 300ms ease-in-out;
  }
}

.nav-list.open {
  left: 0;
  width: 100%;
}

.nav-list .nav-item {
  margin: 0 0 1rem 0;
  width: 100%;
}

.nav-list .nav-link {
  font-size: 2rem;
  color: var(--black);
}

.nav-center .hamburger {
  display: block;
  font-size: 3rem;
}

.icons {
  /* 'icons' updated to icon , review later */
  display: none;
}

.nav-list .icons {
  display: flex;
}

.top-nav ul {
  display: none;
}

.top-nav div {
  justify-content: center;
  height: 3rem;
}

/* --- Hero --- */

.hero,
.hero .glide__slides { /*review position */
  /* reviewed 01 */
  background-color: var(--grey2);
  position: relative;
  height: calc(100vh - 6rem);
  margin: 0 4rem;
  overflow: hidden;
}

.hero .center {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
  padding-top: 3rem;
}

.hero .left {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 1000ms ease-in-out;
}

.hero .left h1 {
  font-size: 5rem;
  margin: 1rem 0;
}

.hero .left p {
  font-size: 1.6rem;
  margin: 0 0 1rem;
}

.hero .left .hero-btn {
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.6rem;
  margin-top: 1rem;
  background-color: var(--green);
  color: white;
}

.hero .right {
  flex: 0 0 50%;
  height: 100%;
  position: relative;
  text-align: center;
}

.hero .right img {
  position: absolute;
  width: 55rem;
  opacity: 0;
  transition: all 1000ms ease-in-out;
}

.hero .right img .img1 {
  width: 85%;
  right: -25%;
  bottom: -15%;
}

.hero .right img .img2 {
  width: 90%;
  right: -40%;
  bottom: -40%;
}

.glide__slide--active .center .right img {
  bottom: -3%;
  opacity: 1;
}

.glide__slide--active /*.center */ .left {
  opacity: 1;
  top: 35%;
}

@media (max-width: 999px) {

  .glide__slide--active /* .center */ .left {
    top: 15%;
  }

  .hero .right img .img1 {
    width: 90%;
  }

  .hero .right img .img2 {
    width: 100%;
  }
}

@media (max-width: 567px) {
  .center .right img .img1 {
    width: 30rem;
  }

  .center .right img .img2 {
    width: 33rem;
  }

  .hero,
  .hero .glide__slides {
    margin: 0;
    padding: 0 3rem;
  }

  .hero .left h1 {
    font-size: 3rem;
  }

  .hero .left span {
    font-size: 1.4rem;
  }

  .hero .left p {
    font-size: 1.5rem;
    width: 80%;
  }
}


/* ----- Categories ----- */

.section {
  padding: 10rem 0 5rem 0;
  overflow: hidden;
}

.cat-center {
  align-items: center;
  display: flex;
  justify-content: center;
  max-width: 114rem;
  margin: auto;
  padding: 0 3rem;
}



.cat-center .cat {
  height: 25rem;
  max-width: 35rem;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: pointer;
}

.cat-center .cat:not(:last-child) {
  margin-right: 3rem;
}

.cat-center .cat img {
  width: 36.5rem;
  height: 100%;
  /* Un Clear why this is not working */
  /* Reviewed and spaced '.cat' from 'cat-center' */
  margin: auto;
  object-fit: cover;
  transition: all 2s ease;
}

.cat-center.cat:hover img {
  transform: scale(1.1);
}

/* At this point instructor reviews 'cat-center' container to review its children, but again misses closing div of the 'cat-center' container */

.cat-center .cat div {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--white);
  width: 18rem;
  line-height: 0.5rem;
  /* reviewed and updated from 5rem */
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
}

.cat-center .cat div .kids {
  /*review later and remove rule */
  /* background-color: red; */
  /* justify-content: center; */
  /* text-align: center; */
}

@media (max-width: 1200px) {
  .cat-center .cat img {
    width: 30rem;
  }
}

@media (max-width: 967px) {
  .cat-center .cat {
    width: 25rem;
    height: 20rem;
  }

  .cat-center .cat img {
    width: 25rem;
  }
}

@media (max-width: 768px) {
  .section {
    padding: 5rem 0;
  }

  .cat-center {
    flex-direction: column;
    padding: 3rem;
  }

  .cat-center .cat {
    max-width: 100%;
    height: 30rem
  }

  .cat-center .cat:not(last-child) {
    margin-right: 0;
    margin-bottom: 5rem;
  }

  .cat-center .cat img {
    width: 100%;
  }
}

/* ----- Arrivals ---- */

.title {
  text-align: center;
  margin-bottom: 5rem;
}

.title h1 {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.products-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.product-item {
  position: relative;
  width: 27rem;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.product-thumb img {
  width: 100%;
  height: 31rem;
  object-fit: cover;
  transition: all 500ms linear;
}

.products-info {
  padding: 1rem;
  text-align: center;
}

.products-info span {
  display: inline-block;
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 1rem;
}

.products-info a {
  display: block;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  transition: all 300ms linear;
}

.products-info a:hover {
  color: var(--green)
}

.product-item .icon {
  display: flex;
  position: absolute;
  left: 50%;
  top: 35%;
  align-items: center;
  transform: translateX(-50%);
}

.product-item .icon li {
  background-color: var(--white);
  text-align: center;
  font-size: 2.3rem;
  padding: 1rem 1.5rem;
  cursor: pointer;
  transition: 300ms ease-in-out;
  transform: translateY(20px);
  visibility: hidden;
  opacity: 0;
}

.product-item .icon li:first-child {
  transition-delay: 0.1s;
}

.product-item .icon li:nth-child(2) {
  transition-delay: 0.2s;
}

.product-item .icon li:nth-child(3) {
  transition-delay: 0.3s;
}

.product-item:hover .icon li {
  transform: translateY(0px);
  visibility: visible;
  opacity: 1;
}

.product-item .icon li:not(:last-child) {
  margin-right: 0.5rem;
}

.product-item .icon li:hover {
  background-color: var(--green);
  color: white;
}

.product-item .overlay {
  position: relative;
  overflow: hidden;
  z-index: -1;
  width: 100%
}

.product-item .overlay::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: 300ms ease;
}

.product-item:hover .overlay::after {
  visibility: visible;
  opacity: 1;
}

.product-item:hover .product-thumb img {
  transform: scale(1.1);
}

.product-item .discount {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background-color: var(--green);
  padding: 0.5rem 1rem;
  color: white;
  border-radius: 2rem;
  font-size: 1.5rem;
  z-index: 2;
}

@media (max-width: 567px) {
  .products-center {
    width: (100%);
    padding: 0 1.5rem;
  }

  .product-item {
    width: 40%;
    margin-bottom: 3rem;
    margin-right: 2rem;
  }

  .product-item img {
    height: 20rem;
  }
}

.product-item .icon li {
  padding: 0.5rem 1rem;
  font-size: 1.8rem;
}

/* ----- Hero Section 02 ---- */

.banner {
  position: relative;
  padding: 14rem;
  background-color: var(--grey2);
}

.banner .right img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 75rem;
}

.banner .trend,
.banner p {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  display: block;
}

.banner h1 {
  font-size: 5.6rem;
  color: var(--black);
  margin-bottom: 1.5rem;
}

.banner .banner-btn {
  display: inline-block;
  margin-top: 2rem;

  /* background-color: var(--green);
  padding: 1rem;
  border-radius: 1rem; */
}

@media (max-width: 1200px) {
  .banner {
    padding: 14rem 2rem;
  }

  .banner .right img {
    right: -6%;
    width: 70rem;
  }
}

@media (max-width: 996px) {
  .banner {
    padding: 8rem 2rem;
  }

  .banner .trend,
  .banner p {
    font-size: 1.5rem;
  }

  .banner h1 {
    font-size: 4rem;
  }

  .banner .right img {
    right: -6%;
    width: 50rem;
  }
}

@media (max-width: 768px) {
  .banner {
    display: grid;
    grid-template-columns: 1fr;
    height: 80vh;
  }

  .banner .left {
    width: 100%;
    margin-bottom: 3rem;
  }

  .banner .right {
    flex: 0 0 50%;
  }
  
  .banner .right img {
    right: 0;
    width: 50rem;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (max-width: 567px) {
  .banner {
    padding: 8rem 5rem;
  }

  .banner .trend,
  .banner p {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }

  .banner h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .banner .banner-btn {
    padding: 0.8rem 1.7rem;
    font-size: 1.4rem;
    margin: 0;
  }
  
  .banner .right img {
    width: 45rem;
  }
}


/* ------- Contacts ------- */

.contact {
  background: var(--black);
  color: white;
  padding: 10rem 20rem;
}

.contact .contact-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.contact .contact-row .col-1 h2{
  margin-bottom: 1.5rem;
}

.contact .contact-row .col-1 p {
  margin-bottom: 2rem;
  font-size: 1.3rem;
  width: 70%;
}

.btn-1 {
  background-color: var(--green);
  color: white;
  display: inline-block;
  border-radius: 1rem;
  padding: 1rem 2rem;
}

.contact form div {
  position: relative;
  margin: 0 auto;
}

.contact form input {
  font-family: 'poppins',sans-serif;
  text-indent: 2rem;
  width: 100%;
  border-radius: 1rem;
  padding: 1.5rem 0;
  border: none;
  outline: none;
}

.contact form a {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--green);
  color: white;
  margin: 0.5rem;
  padding: 1rem 3rem;
  border-radius: 1rem;
}

@media (max-width: 996px) {
  .contact {
    padding: 8rem;
  }
}

@media (max-width: 996px) {
  .contact .contact-row {
    grid-template-columns: 1fr;
    gap: 5rem 0;
  }

  .contact div form {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .contact .contact-row {
    grid-template-columns: 1fr;
    gap: 5rem 0;
  }

  .contact div form {
    width: 100%;
  }
}

@media (max-width: 567px) {
  .contact {
    padding: 8rem 1rem;
  }
}

/* ----- Footer ----- */

footer {
  padding: 7rem, 1rem;
  background-color: var(--green);
}

.footer  .contact-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 99.6rem;
  margin: 0 auto;
}

.footer .col-1 {
  flex-direction: column;
  color: white;
  align-items: flex-start;
}

.footer .col-1:nth-child(3) /* same as 'footer .col-1:last-child' */ {
  flex-direction: row;
  justify-content: center;
}

.footer .col-1:nth-child(3) span {
  font-size: 2.5rem;
  margin-right: 0.5rem;
  color: var(--white);
}

.footer .col-1 a {
  color: red; /* change back to white */
  font-size: 1.5rem;
  padding: 0.5rem;
  /* font-weight: 300; */ /* disabled along through by tutor */
}

.footer .col-1 h4{
  margin-bottom: 1rem;
}


@media (max-width: 567px) {
  .footer .contact-row {grid-template-columns: 1fr;
  row-gap: 3rem;
  }
}


/* ----- Pop-Up ----- */

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  transition: 0.3s;
  transform: scale(1);
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  margin: 0 auto;
  height: 55rem;
  transform: translate(-50%, -50%);
  padding: 1.6rem;
  display: table;
  overflow: hidden;
  background-color: white;
}

.close-popup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 2rem;
  right: 2rem;
  padding: 0.5rem;
  background-color: var(--green);
  border-radius:50%;
  cursor: pointer;
  color: white;
  font-size: 3rem;
}

.popup-left {
  display: table-cell;
  width: 50%;
  height: 100%;
  vertical-align: middle;
}

.popup-right {
  display: table-cell;
  width: 50%;
  vertical-align: middle;
  padding: 3rem 5rem;
}

.popup-img-container {
  width: 100%;
  overflow: hidden;
}

 .popup-img { /* removed '.popup-img-container img', review later */
  display: block;
  width: 60rem;
  height: 45rem;
  max-width: 100%;
  border-radius: 1rem;
  object-fit: cover;
}

.right-content {
  text-align: center;
  width: 85%;
  margin: 0 auto
}

.right-content h1 {
  font-size: 4rem;
  color: #000;
  margin-bottom: 1.6rem;
}

.right-content h1 span {
  color: var(--green);
}

.right-content p {
  font-size: 1.6rem;
  color: #555;
  margin-bottom: 1.6rem;
}

.popup-form {
  width: 100%;
  padding: 1.5rem 0;
  text-indent: 1rem;
  margin-bottom: 1.6rem;
  border-radius: 3rem;
  background-color: var(--green);
  color: white;
  font-size: 1.8rem;
  border: none;
}

.popup-form::placeholder {
  color: white;
}

.popup-form:focus {
  outline: none;
}

.popup-content a:link,
.popup-content a:visited {
  display: inline-block;
  padding: 1.8rem 5rem;
  border-radius: 3rem;
  font-weight: 700;
  color: white;
  background-color: var(--black);
  border: 1px solid var(--grey2);
  transition: 0.3s;
}

.right-content a:hover {
  background-color: var(--green);
  color: var(--black);
}

.hide-popup {
  transform: scale(0.2);
  opacity: 0;
  visibility: hidden;
}
/* To referred to again in Js */ /*back again after writing Js code */

/* ----- Media Queries ----- */

@media (max-width: 1200px) {
  .right-content h1 {
    font-size: 3.5rem;
    margin-bottom:1.3rem;
  }

  .right-content {
   width: 100;
  }
}

@media (max-width: 998px) {
  .popup-right {
    width: 100%;
    ;
  }

  .popup-left {
   display: none;
  }

  .right-content h1 {
    font-size: 5rem;
  }
}

@media (max-width: 768px) {
  .right-content h1 {
    font-size: 4rem;
  }

  .right-content p {
    font-size: 1.6rem;
  }

  .popup-form {
    width: 90%;
    margin: 0 auto;
    padding: 1.8rem 0;
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 567px) {
  .popup-right {
    padding: 0 1.6rem;
  }
  
  .popup-content {
    height: 35rem;
    width: 90%;  
    margin: 0 auto;
  }

  .right-content {
    width: 100%;
  }

  .right-content h1 {
    font-size: 3rem;
  }

  .right-content p {
    font-size: 1.4rem;
  }

  .popup-form {
    width: 100%;
    padding: 1.5rem 0;
    margin-bottom: 1.3rem;
  }

 .right-content a:link,
  .right-content a:visited {
    padding: 1.5rem 3rem;
  }

  .close-popup {
    top: 1rem;
    right: 1rem;
    padding: 0.5rem;
  }
}










